.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header{
  flex: 15%;
  background-color: gray;
}

.menu{
  flex: 5%;
  background-color: lightgray;
  display: flex;
  align-items: center;
}

.menu a{
  padding: 15px 20px;
  color: pink;
  text-decoration: none;
}

.menu a:hover{
  background-color: #ddd;
  color: black;
}

.content{
  flex: 70%;
  background-color: yellow;
}

.content iframe{
  width: 100%;
  height: 100%;
  border: none;
}
.footer {
  flex: 10%;
  background-color: yellow;
}
.top-link{
  margin: 15px;
}

.top-link a{
  text-decoration: none;
  color: blue;
  margin-right: 12px;
  font-weight: bold;
}
.top-link a:hover{
  color: red;
  text-decoration: underline;
}
.f1 {
  color: red;
  margin-top: 18pt;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman";
}

.f2 {
  color: black;
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 15px;
  font-family: "Times New Roman";
}
