.f1 {
  color: red;
  margin-top: 18pt;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman";
}
.f2 {
  color: black;
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 15px;
  font-weight: normal;
  font-family: "Times New Roman";
}
